API_SALTS=***
API_SECRETS=***

CALENDAR_API_KEY=***

DB_USER=***
DB_PASSWORD=***

FIXER_API_KEY=***

MAILGUN_API_KEY=***

GEMINI_API_KEY=***

INFOMANIAK_URL=***
INFOMANIAK_BUCKET=***
INFOMANIAK_ACCESS=***
INFOMANIAK_SECRET=***

SENTRY_URL=***

VALERIE_API_TOKEN=***