version: "3.7"

services:
  api:
    container_name: api
    image: quentinburgniard/api:3.2.0
    environment:
      ADMIN_TOKEN: $API_ADMIN_TOKEN
      DIGITALOCEAN_USER: $DIGITALOCEAN_USER
      DIGITALOCEAN_PASSWORD: $DIGITALOCEAN_PASSWORD
      DATA_SERVICE: api-data
      DATA_USER: $API_DATA_USER
      DATA_PASSWORD: $API_DATA_PASSWORD
      SENDGRID_TOKEN: $SENDGRID_TOKEN
      USER_TOKEN: $API_USER_TOKEN
    volumes:
      - api:/usr/src/api/strapi
    depends_on:
      - api-data
    restart: always

  api-data:
    container_name: api-data
    image: mongo:4
    environment:
      MONGO_INITDB_ROOT_USERNAME: $API_DATA_USER
      MONGO_INITDB_ROOT_PASSWORD: $API_DATA_PASSWORD
      MONGO_INITDB_DATABASE: api
    volumes:
      - api-data:/data/db
    restart: always

  blendz:
    container_name: blendz
    image: quentinburgniard/blendz:0.0.7
    restart: always

  casasogra:
    container_name: casasogra
    image: quentinburgniard/casasogra:1.0.22
    environment:
      DB_HOST: casasogra-data
      DB_NAME: casasogra
      DB_PASSWORD: $CASASOGRA_DATA_PASSWORD
      DB_USER: $CASASOGRA_DATA_USER
      DIGITALOCEAN_USER: $DIGITALOCEAN_USER
      DIGITALOCEAN_PASSWORD: $DIGITALOCEAN_PASSWORD
    depends_on:
      - casasogra-data
      - casasogra-cms
      - casasogra-embaixador
      - casasogra-mq
      - casasogra-mq-v2
    restart: always

  casasogra-cms:
    container_name: casasogra-cms
    image: quentinburgniard/casasogra-cms:0.0.17
    restart: always

  casasogra-data:
    container_name: casasogra-data
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: $CASASOGRA_DATA_PASSWORD
      MYSQL_DATABASE: casasogra
      MYSQL_USER: $CASASOGRA_DATA_USER
      MYSQL_PASSWORD: $CASASOGRA_DATA_PASSWORD
    volumes:
      - casasogra-data:/var/lib/mysql
    restart: always

  casasogra-embaixador:
    container_name: casasogra-embaixador
    image: quentinburgniard/casasogra-embaixador:0.0.2
    environment:
      WOOCOMMERCE_USER: $WOOCOMMERCE_USER
      WOOCOMMERCE_PASSWORD: $WOOCOMMERCE_PASSWORD
    restart: always

  casasogra-mq:
    container_name: casasogra-mq
    image: quentinburgniard/casasogra-mq:0.5.6
    environment:
      CASASOGRA_MQ_TOKEN: $CASASOGRA_MQ_TOKEN
      GOOGLE_TOKEN: $GOOGLE_TOKEN
      GSMTASKS_TOKEN: $GSMTASKS_TOKEN
      PRINTNODE_TOKEN: $PRINTNODE_TOKEN
      SENDGRID_TOKEN: $SENDGRID_TOKEN
      TWILIO_TOKEN: ${TWILIO_USER}:${TWILIO_PASSWORD}
      VENDUS_POS: $VENDUS_POS
      VENDUS_TOKEN: $VENDUS_TOKEN
      WOOCOMMERCE_USER: $WOOCOMMERCE_USER
      WOOCOMMERCE_PASSWORD: $WOOCOMMERCE_PASSWORD
    restart: always

  casasogra-mq-v2:
    container_name: casasogra-mq-v2
    image: quentinburgniard/casasogra-mq:1.0.30
    environment:
      CASASOGRA_MQ_PASSWORD: $CASASOGRA_MQ_TOKEN
      GLOVO_PASSWORD: $GLOVO_PASSWORD
      GLOVO_STORE_ID: $GLOVO_STORE_ID
      GSMTASKS_PASSWORD: $GSMTASKS_TOKEN
      GSMTASKS_STORE_ID: $GSMTASKS_STORE_ID
      GSMTASKS_USER: $GSMTASKS_USER
      PRINTNODE_PASSWORD: $PRINTNODE_TOKEN
      SLACK_PASSWORD: $SLACK_PASSWORD
      TWILIO_MESSAGING_SERVICE_ID: $TWILIO_MESSAGING_SERVICE_ID
      TWILIO_PASSWORD: $TWILIO_PASSWORD
      TWILIO_USER: $TWILIO_USER
      VENDUS_PASSWORD: $VENDUS_TOKEN
      VENDUS_STORE_ID: $VENDUS_REGISTER_ID
      WOOCOMMERCE_USER: $WOOCOMMERCE_USER
      WOOCOMMERCE_PASSWORD: $WOOCOMMERCE_PASSWORD
    restart: always
    
  cv:
    container_name: cv
    image: quentinburgniard/cv:2.0.0
    restart: always

  discover-me:
    container_name: discover-me
    image: quentinburgniard/discover-me:1
    depends_on:
      - discover-me-data
    restart: always

  discover-me-data:
    container_name: discover-me-data
    image: quentinburgniard/discover-me-data:1
    restart: always
    
  hestia:
    container_name: hestia
    image: quentinburgniard/hestia:0.0.15
    restart: always

  invoice-generator:
    container_name: invoice-generator
    image: quentinburgniard/invoice-generator:1.0.2
    restart: always
    
  lavoieducoeur:
    container_name: lavoieducoeur
    image: quentinburgniard/lavoieducoeur:1.0.2
    restart: always

  calculadora-generator:
    container_name: calculadora-generator
    image: quentinburgniard/calculadora-generator:0.0.5
    restart: always

  portfolio:
    container_name: portfolio
    image: quentinburgniard/portfolio:2.2.0
    depends_on:
      - search
    restart: always
  
  reverse-proxy:
    container_name: reverse-proxy
    image: quentinburgniard/reverse-proxy:1.1.2
    environment:
      AMPLIFY_IMAGENAME: $AMPLIFY
    volumes:
      - ssl-certs:/ssl-certs:ro
      - ./reverse-proxy:/etc/nginx:ro
    ports:
      - 80:80
      - 443:443
    depends_on:
      - api
      - blendz
      - calculadora-generator
      - casasogra
      - cv
      - discover-me
      - hestia
      - invoice-generator
      - lavoieducoeur
      - portfolio
      - walisson
    restart: always

  search:
    container_name: search
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.1
    environment:
      - discovery.type=single-node
    volumes:
      - search:/usr/share/elasticsearch/data
    restart: always
  
  ssl-certs-dev:
    container_name: ssl-certs-dev
    image: quentinburgniard/ssl-certs-dev:1.1.1
    command: req -keyout /ssl-certs/live/d/privkey.pem -newkey rsa:2048 -nodes -out /ssl-certs/live/d/fullchain.pem -subj "/C=CH/ST=Geneve/L=Geneve/O=Digital Leman/CN=digital-leman.com" -x509
    volumes:
      - ssl-certs:/ssl-certs

  ssl-certs-prod:
    container_name: ssl-certs-prod
    image: certbot/dns-digitalocean
    command: certonly --dns-digitalocean --dns-digitalocean-credentials /digitalocean.ini --dns-digitalocean-propagation-seconds 600 -n --agree-tos -m quentinburgniard@gmail.com --cert-name d -d $DOMAINS
    volumes:
      - ssl-certs:/etc/letsencrypt
      - ./ssl-certs/digitalocean.ini:/digitalocean.ini:ro

  walisson:
    container_name: walisson
    image: quentinburgniard/walisson:0.0.1
    restart: always

volumes:
  api-data:
  casasogra-data:
  search:
  ssl-certs:
  api: